<!-- ##### Hero Area Start ##### -->
<div class="hero-area">
  <!-- Hero Post Slides -->
  <div class="hero-post-slides owl-carousel">
    <!-- Single Slide -->
    <div class="single-slide">
      <!-- Blog Thumbnail -->
      <div class="blog-thumbnail">
        <a href="#"><img src="assets/bg-img/1.jpg" alt=""></a>
      </div>

      <!-- Blog Content -->
      <div class="blog-content-bg">
        <div class="blog-content">
          <a href="#" class="post-tag">Healthy Food</a>
          <a href="#" class="post-title">Chicken Salad</a>
          <div class="post-meta">
            <a href="#" class="post-date">July 11, 2018</a>
            <a href="#" class="post-author">By Julia Stiles</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Single Slide -->
    <div class="single-slide">
      <!-- Blog Thumbnail -->
      <div class="blog-thumbnail">
        <a href="#"><img src="assets/bg-img/2.jpg" alt=""></a>
      </div>

      <!-- Blog Content -->
      <div class="blog-content-bg">
        <div class="blog-content">
          <a href="#" class="post-tag">Healthy Food</a>
          <a href="#" class="post-title">Chicken Salad</a>
          <div class="post-meta">
            <a href="#" class="post-date">July 11, 2018</a>
            <a href="#" class="post-author">By Julia Stiles</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Single Slide -->
    <div class="single-slide">
      <!-- Blog Thumbnail -->
      <div class="blog-thumbnail">
        <a href="#"><img src="assets/bg-img/3.jpg" alt=""></a>
      </div>

      <!-- Blog Content -->
      <div class="blog-content-bg">
        <div class="blog-content">
          <a href="#" class="post-tag">Healthy Food</a>
          <a href="#" class="post-title">Chicken Salad</a>
          <div class="post-meta">
            <a href="#" class="post-date">July 11, 2018</a>
            <a href="#" class="post-author">By Julia Stiles</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Single Slide -->
    <div class="single-slide">
      <!-- Blog Thumbnail -->
      <div class="blog-thumbnail">
        <a href="#"><img src="assets/bg-img/3.jpg" alt=""></a>
      </div>

      <!-- Blog Content -->
      <div class="blog-content-bg">
        <div class="blog-content">
          <a href="#" class="post-tag">Healthy Food</a>
          <a href="#" class="post-title">Chicken Salad</a>
          <div class="post-meta">
            <a href="#" class="post-date">July 11, 2018</a>
            <a href="#" class="post-author">By Julia Stiles</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### Hero Area End ##### -->

<!-- ##### Catagory Area Start ##### -->
<div class="post-catagory section-padding-100-0 mb-70">
  <div class="container">
    <div class="row justify-content-center">
      <!-- Single Post Catagory -->
        <% @recipes.each do |recipe| %>
            <!-- Single Post Catagory -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-post-catagory mb-30">
                <img src=<%= recipe.image %> alt="">
                <!-- Content -->
                <div class="catagory-content-bg">
                    <div class="catagory-content">
                    <a href="#" class="post-tag">The Best</a>
                    <a href="#" class="post-title"><%= recipe.name %></a>
                    </div>
                </div>
                </div>
                <div class="text-center">
                    <p style="color:black;"><%= recipe.recipe %></p>
                </div>
            </div>
      <% end %>
    </div>
      <%= paginate @recipes %>
  </div>
</div>
<!-- ##### Catagory Area End ##### --> 