<%= form_for([@comment]) do |f| %>
<%= f.hidden_field :recipe_id %>
<div class="post-a-comment-area mb-30 clearfix">
      <h4 class="mb-50">Leave a reply </h4>

      <!-- Reply Form -->
      <div class="contact-form-area">
        <form action="#" method="post">
          <div class="col-12">
          <%= f.text_area :content, class: "form-control", cols: "30", rows: "10", placeholder: "Message" %>
          </div>
          <div class="col-12">
            <button class="btn bueno-btn mt-30" type="submit">Submit Comment</button>
          </div>
      </div>
      </form>
    </div>
<% end %>


